.ui-timepicker-standard a {
    font-size: 15px !important;
    text-align: left !important;
}

.head-info {
    background-color: #dddddd;
    padding: 3px 10px;
    text-align: left;
    margin-bottom: 1rem;
}

.ml-5 {
    margin-left: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.no-border {
    border: 0 !important;
}